<html>
<head>

	  <script src="/-/libs/jquery-3.4.1.min.js"></script>
	  <script src="/-/engine.js.php"></script>


	  <script src="/-app/assets/js/Dash-Demo.js"></script>

	  <link href="/-app/assets/css/Dash-Demo.css" type="text/css" rel="stylesheet">


</head>
<body>

<div id="dash-header" dash-id="{dash-header-id}">{dash-header}</div>

<div id="dash-content" dash-id="{dash-content-id}">
	{dash-content}
</div>


<div id="dash-footer" dash-id="{dash-footer-id}">
	{dash-footer}
</div>


<div id="dash-debug" dash-id="{dash-debug-id}">{dash-debug}
</div>



{dash-init-script}
</body>
</html>